<div class="depot_form">
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  <fieldset>
</div>
<!-- old stuff start

<h1>New order</h1>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>

old stuff end -->

